
.row_card {
    background-color; white;
    /* height: max-content; */
    /* width: max-content; */
    /* padding: 10px; */
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* justify-content: center; */
}

/* .row_card div{
    margin: 25xp;
    border: 10px solid gray;
    align-items: flex-start;
} */

.card {
    background-color: rgb(61, 61, 50);
    width: 200px;
    height: 300px;
    border: 3px; black;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.638);
    margin: 10px; 
}

.card_artefacts {
    background-color: rgb(51, 51, 28);
    width: 200px;
    height: 300px;
    border: 3px; black;
    /* border-style: solid; */
    border-style: double;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.638);
    margin: 10px; 
}

.pictures_on_card{
    width: 100%;
    height: auto;
}

.text_on_card_1{
    color: rgb(211, 211, 214);
    font-size: 15px;
    font-weight: bold;
    line-height: 50px;
    width: 100%;
    color: #d5ffc8;
 
}

.text_on_card_2{
    color: rgb(211, 211, 214);
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}




















