html, body {
    height: 100%;
    width: auto;
    background-color: black;
}
.page_content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;    
    height: auto !important;
    min-height: 100%;
    width: 70%;
    margin: 0 auto 0 auto;
    background-color: white;  
}
.main_content {
    padding: 5% 0;
}
header, footer {
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    background-color: grey;
}
header{
    height: 250px;
    margin-top: 0;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;    
    height: 150px;    
}
footer span {
    padding: 2% 5% 1% 5%;
}
form {    
    display: flex;
    flex-direction: column;
}
form label, input {
    padding: 1%;
}
.login_content {
    width: 200px;
    height: 130px;
    padding: 2%;
    margin-top: 20%;
    background-color: grey;
}
#links ul {
    list-style-type: none;    
}
#links a {
    text-decoration: none;
    color: black;
}