html, body {
    height: 100%;
    width: auto;    
    background-color: black;
}
.page_content {
    min-width: 520px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;    
    height: auto !important;
    min-height: 100%;
    width: 70%;
    margin: 0 auto 0 auto;
    background-color: white;  
}
.main_content {
    padding: 5% 5%;
}
header, footer {
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    background-color: grey;
}
header {
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-top: 0;
}
.title_container {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title_container figure, .title_container a {
    padding: 2% 5% 1% 5%;
}
#logo {
    width: 70%;
    min-width: 280px;
    margin-top: -2%;
    margin-left: -5%;
}
header nav ul {
    padding-inline-start: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
header nav ul li {
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2em;
    
}
header nav ul li a {    
    text-decoration: none;
    color: white;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;    
    height: 150px;    
}
footer span {
    padding: 2% 5% 1% 5%;
}
form {    
    display: flex;
    flex-direction: column;
}
form label, input {
    padding: 1%;
}
.login_content {
    width: 200px;
    height: 130px;
    padding: 2%;
    margin-top: 20%;
    background-color: grey;
}
#links ul {
    list-style-type: none;    
}
#links a {
    text-decoration: none;
    color: black;
}

#header_icons {
    width: 30%;
    float: right;
}

#header_icon {
    width: 20px;
    position: relative;
    text-align: center;
    color: black;
}

#icon_img {
    width: 30px;
    height: 30px;
}

#amount_of_coolcoins {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 1200px) {
    .page_content {
        width: 90%;
    }
    #logout {
        width: 100%;
        min-width: 45px;
    }
}
@media screen and (max-width: 800px) {
    header nav {
        text-align: center;
    }
    header nav ul {
        flex-direction: column;
    }
    .page_content {
        justify-content: space-evenly;
    }
    #logo {
        margin-left: -8%;
    }
}
@media screen and (max-width: 600px) {
    #logout {
        margin-left: -150%;
    }
}