<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Crowdfunding</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/cards.css">
</head>

<body>
    <div class="page_content">
        <header>
            <div class="title_container">
                <figure>
                    <img id="logo" src="/static/img/logo.png" alt="logo">
                </figure>

                <span id="header_icons">

                    <figure class="icon">
                        <a href="/inventory">
                            <img src="/static/img/backpack.png" class="icon_img" alt="backpack">
                        </a>
                    </figure>

                    <figure class="icon">
                        <a href="/wallet">
                            <img src="/static/img/wallet.png" class="icon_img" alt="wallet">
                            <div id="amount_of_coolcoins"> {{% coolcoins_amount %}} </div>
                        </a>
                    </figure>

                    <figure class="icon">
                        <img src="/static/img/star-icon.png" class="icon_img" alt="exp_icon">
                        <div id="exp_level">5</div>
                    </figure>

                    <figure class="icon">
                        <a href="/login"><img src="/static/img/logout.png" class="icon_img" alt="logout"></a>
                    </figure>

                </span>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="/store">STORE</a>
                    </li>
                    <li>
                        <a href="/crowdfunding">CROWDFUNDING</a>
                    </li>
                    <li>
                        <a href="/artifacts">QUESTS</a>
                    </li>
                </ul>
            </nav>
        </header>

        <div class="main_content">
            <h1>Crowdfunding</h1>
            <p>Together with your classmates you can buy some artifacts.</p>

            {% for croudfund_item in croudfund_items %}

            <div class="crowdfund_item">
                <div class="card">

                <span class="text_on_card_1"> {{% crowdfund_item.getTitle() %}} </span>
                <div>
                    <img class="pictures_on_card" src="/static/img/heroes.jpg" alt="Picture of Hero" />
                </div>
                <ul>
                    <li><span class="text_on_card_2"> {{% crowdfund_item.getDescription() %}} </span></li>
                    <li><span class="text_on_card_2"> {{% crowdfund_item.getValue() %}} </span></li>
                </ul>
                </div>

                <p>Yet to collect: <span id="item_price1"> {{% ????? %}} </span> cc</p>
                <label for="fund_input">Fund:</label>
                <input type="number" name="fund_input" id="fund_input1" min="1" max="5">
                <input type="button" id="fund_button1" value="Donate" onclick="fund(1)">

            </div>

            {% endfor %}

        </div>

        <footer>
            <span id="links">
                <h3>Find us on Facebook:</h3>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100024050271937" target="_blank">TurboKrzyś</a></li>
                    <li><a href="https://www.facebook.com/roman.bulinski" target="_blank">TurboRoman</a></li>
                    <li><a href="https://www.facebook.com/dar.domanski" target="_blank">TurboDaro</a></li>
                </ul>
            </span>

            <span id="copyrights">
                <p>Copyrights&copy; 2018 by TurboSnails, all rights reserved.</p>
            </span>
        </footer>
    </div>

</body>
<script src="/static/js/script.js"></script>
<script src="/static/js/crowdfunding.js"></script>

</html>