<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Wallet</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
</head>

<body onload="getCCAmount()">
    <div class="page_content">
        <header>
            <div class="title_container">
                <figure>
                    <img id="logo" src="/static/img/logo.png" alt="logo">
                </figure>

                <span id="header_icons">

                    <figure class="icon">
                        <a href="/inventory">
                            <img src="/static/img/backpack.png" class="icon_img" alt="backpack">
                        </a>
                    </figure>

                    <figure class="icon">
                        <a href="/wallet">
                            <img src="/static/img/wallet.png" class="icon_img" alt="wallet">
                            <div id="amount_of_coolcoins"> {{ coolcoins_amount }} </div>
                        </a>
                    </figure>

                    <figure clas="icon">
                        <img src="/static/img/star-icon.png" class="icon_img" alt="exp_icon">
                        <div id="exp_level">5</div>
                    </figure>

                    <figure class="icon">
                        <a href="/login">
                            <img src="/static/img/logout.png" class="icon_img" alt="logout">
                        </a>
                    </figure>

                </span>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="/store">STORE</a>
                    </li>
                    <li>
                        <a href="/crowdfunding">CROWDFUNDING</a>
                    </li>
                    <li>
                        <a href="/artifacts">ARTIFACTS</a>
                    </li>
                </ul>
            </nav>

        </header>
        <div class="main_content">

            <h1>Wallet</h1>
            <p>You have <span id="actual_cc_amount"> {{ coolcoins_amount }} </span>cc</p>

        </div>
        <footer>
            <span id="links">
                <h3>Find us on Facebook:</h3>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100024050271937" target="_blank">TurboKrzyś</a></li>
                    <li><a href="https://www.facebook.com/roman.bulinski" target="_blank">TurboRoman</a></li>
                    <li><a href="https://www.facebook.com/dar.domanski" target="_blank">TurboDaro</a></li>
                </ul>
            </span>

            <span id="copyrights">
                <p>Copyrights&copy; 2018 by TurboSnails, all rights reserved.</p>
            </span>
        </footer>
    </div>

</body>
<script src="/static/js/wallet.js"></script>

</html>