<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>QuestStore login</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/css?family=MedievalSharp" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Noto+Serif" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/reset.css">
    <link rel="stylesheet" href="/static/css/main.css">
    <link rel="stylesheet" href="/static/css/codecoolers.css">

</head>

<body>
    <div class="page_content">
        <header>
            <div class="title_container">
                <figure>
                    <img id="logo" src="/static/img/logo.png" alt="logo">
                </figure>
                <a id="logout" href="/login"><img src="/static/img/logout.png" alt="logout"></a>
            </div>

            <nav>
                <ul>
                    <li>
                        <a href="/mentor/codecoolers">CODECOOLERS</a>
                    </li>
                    <li>
                        <a href="/mentor/quests">QUEST</a>
                    </li>
                    <li>
                        <a href="/mentor/artifacts">ARTIFACTS</a>
                    </li>
                </ul>
            </nav>
        </header>
        <div class="main_content">
            <h1>CODECOOLERS</h1>
            <p>Here you can see the list of all codecoolers, add new one or edit existing one.</p>
            <hr>
            <ul id="students">
                <li id="list_header">
                    <span class="student_id_label">ID</span>
                    <span class="student_name_label">NAME</span>
                    <span class="student_wallet_label">WALLET</span>
                </li>
                <li>
                    <span class="student_id"></span>
                    <span class="student_name">Piotr Tomaszewski</span>
                    <span class="student_wallet">100</span>

                </li>
                <li>
                    <span class="student_id"></span>
                    <span class="student_name">Agnieszka Koszany</span>
                    <span class="student_wallet">100</span>

                </li>
                <li>
                    <span class="student_id"></span>
                    <span class="student_name">Marek Grzybek</span>
                    <span class="student_wallet">100</span>

                </li>
            </ul>

            <input type="button" id="add_student_option" name="add_student_option" value="ADD STUDENT">
            <hr>
            <p>Enter student number to edit: </p>
            <input type="text" id="student_number" name="student_number" size="1">
            <input type="button" id="edit_student_option" name="edit_student_option" value="EDIT STUDENT">

        </div>
        <footer>
            <span id="links">
                <h3>Find us on Facebook:</h3>
                <ul>
                    <li><a href="https://www.facebook.com/profile.php?id=100024050271937" target="_blank">TurboKrzyś</a></li>
                    <li><a href="https://www.facebook.com/roman.bulinski" target="_blank">TurboRoman</a></li>
                    <li><a href="https://www.facebook.com/dar.domanski" target="_blank">TurboDaro</a></li>
                </ul>
            </span>

            <span id="copyrights">
                <p>Copyrights&copy; 2018 by TurboSnails, all rights reserved.</p>
            </span>
        </footer>
        <div id="edit_window">
            <form name="edit_student_form" id="edit_student_form">
                <label for="edit_student_name">Name:</label>
                <br>
                <input type="text" name="edit_student_name" id="edit_student_name" size="50" placeholder="Student name">
                <br>
                <label for="student_quest">Quests:</label>
                <br>
                <input type="checkbox" name="student_quest" id="Exploring a dungeon"> Exploring a dungeon <br>
                <input type="checkbox" name="student_quest" id="Solving the puzzle"> Solving the puzzle <br>
                <input type="checkbox" name="student_quest" id="Slaying a dragon"> Slaying a dragon <br>
                <br>
                <br>
                <label for="student_artifact">Artifacts:</label>
                <br>
                <input type="checkbox" name="student_artifact" id="Combat training"> Combat training <br>
                <input type="checkbox" name="student_artifact" id="Sanctuary"> Sanctuary <br>
                <input type="checkbox" name="student_artifact" id="Time travel"> Time travel <br>
                <br>

                <input type="button" id="save_student_button" value="SAVE">
                <input type="button" id="add_student_button" value="ADD">
                <br>
                <input type="button" id="exit_student_button" value="EXIT">
            </form>
        </div>
        <div id="shade_background"></div>
    </div>

</body>
<script src="/static/js/script.js"></script>
<script src="/static/js/codecoolers.js"></script>

</html>