
.row_card {       
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card_empty {
    background-color: rgb(61, 61, 50);
    width: 200px;
    height: 300px;
    border: 3px black;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.638);
    margin: 10px;
    
    position:relative;
}

.card {
    background-color: rgb(61, 61, 50);
    width: 200px;
    height: 300px;
    border: 3px black;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.638);
    margin: 10px;    
    position:relative;
}

#button_create_quest_card {
    background-color: green;
    width: 200px;
    height: 50px;
    border: 3px black;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.638);
    margin: 10px; 
}

.card_from_mentor {
    /* background-color: rgb(145, 145, 89); */
    background-image: linear-gradient(red, rgba(255, 255, 0, 0.652));
    width: 200px;
    height: 300px;
    border: 3px black;
    border-style: solid;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.638);
    margin: 10px; 
    background-image: linear-gradient(red, yellow);    
    position:relative;
}

#example{
    position:absolute;
    top:120px;
    left:15px;
    color: rgb(211, 211, 214);
    font-size: 30px;
    font-weight: bold;
    transform: rotate(-45deg);
}

.extra{
    position:absolute;
    bottom:20px;
    right: 0px;
    color: rgb(211, 211, 214);
    font-size: 13px;
    font-weight: bold;
    transform: rotate(-45deg);
    text-shadow: 0 2px 2px rgba(12, 1, 1, 1);
    text-shadow: 0 1px 1px rgb(138, 255, 5);
}

.magic{
    position:absolute;
    bottom:20px;
    right: 0px;
    color: rgb(211, 211, 214);
    font-size: 13px;
    font-weight: bold;
    transform: rotate(-45deg);
    text-shadow: 0 2px 2px rgba(12, 1, 1, 1);
    text-shadow: 0 1px 1px rgb(138, 255, 5);
}

.card_artefacts {
    background-image: linear-gradient(rgba(41, 41, 8, 0.823), rgba(100, 100, 0, 0.652));
    width: 200px;
    height: 300px;
    margin: 10px; 
    border: 3px black;
    border-style: double;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.638);
    position:relative;
}

.pictures_on_card{
    width: 100%;
    height: auto;
}

#pictures_on_card_workshop{
    width: 100%;
    height: auto;
    position:relative;
}

#inputonpicture{
    position:absolute;
    bottom:10px;
    right:10px;
}

#button_basic_quest{
    position:absolute;
    top:10px;
    right:10px;
}

#button_extra_quest{
    position:absolute;
    top:10px;
    left:10px;
}

.text_on_card_1{
    color: rgb(211, 211, 214);
    font-size: 15px;
    font-weight: bold;
    line-height: 30px;
    width: 100%;
    color: #d5ffc8;
    text-align: center;
    text-shadow: 0 2px 2px rgba(12, 1, 1, 1);
}


.text_on_button{
    color: rgb(211, 211, 214);
    font-size: 15px;
    font-weight: bold;
    line-height: 5px;
    width: 100%;
    color: #d5ffc8;
    text-align: center;
    text-shadow: 0 2px 2px rgba(12, 1, 1, 1);
}

.text_on_card_2{
    color: rgb(211, 211, 214);
    font-size: 11px;
    font-weight: bold;
    text-align: left;
}

.buybutton {
    position:absolute;
    bottom:10px;
    right:55px;
    background:rgb(57, 87, 57);
    width:90px;
    height:20px;
    border: 1px solid rgb(238, 241, 233);
    border-radius: 5px;
    text-align: center;
    color: rgb(211, 211, 214);  
}

.editcardbutton {
    position:absolute;
    bottom:120px;
    right:55px;
    background:rgb(57, 87, 57);
    width:90px;
    height:20px;
    border: 1px solid rgb(238, 241, 233);
    border-radius: 5px;
    text-align: center;
    color: rgb(211, 211, 214);  
}


.valuecoins {
    position:absolute;
    bottom:10px;
    right:10px;

    background:rgb(223, 226, 223);
    width:50px;
    height:50px;    
    border-radius: 25px;
    text-align: center;    
    line-height: 50px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 2px #000000;    
    overflow: hidden;
    box-shadow: 2px 2px 1px rgb(56, 56, 56);
}

















