html, body {
    height: 100%;
    width: auto;
}
body {
    background-image: url("../img/main_background.png");
    background-attachment: fixed;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
}
a, span, li, p {
    font-family: 'Noto Serif', serif;
}
.page_content {
    min-width: 520px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;    
    height: auto !important;
    min-height: 100%;
    width: 70%;
    margin: 0 auto 0 auto;
    background-color: white;
    filter: drop-shadow(0 0 2rem black);
    background-image: url("../img/page_content_background.jpg");
}
.main_content {
    padding: 5% 5%;
}
header, footer {
    display: flex;
    justify-content: center;
    align-content: space-between;
    width: 100%;
    background-image: url("../img/header_footer_background.jpg");
}
header {
    display: flex;
    flex-direction: column;
    height: 250px;
    margin-top: 0;
}
.title_container {
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.title_container figure, .title_container a {
    padding: 2% 0 1% 0;
}
#logo {
    width: 70%;
    min-width: 280px;
    margin-top: -2%;
    margin-left: -5%;
}
header nav ul {
    padding-inline-start: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    list-style-type: none;
}
header nav ul li {
    display: inline;
    margin-left: 2%;
    margin-right: 2%;
    font-size: 2em;
    
}
header nav ul li a {    
    text-decoration: none;
    color: white;
    font-family: 'MedievalSharp', cursive;
}
header nav ul li a:hover {    
    text-decoration: none;
    color: lightgray;
}
#amount_of_coolcoins, #exp_level {
    color: wheat;
    font-size: 1.4em;
}
footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    bottom: 0;
    height: 150px;
    color: wheat;
}
footer span {
    padding: 2% 5% 1% 5%;
}
form {    
    display: flex;
    flex-direction: column;
}
form label, input {
    padding: 1%;
}
#links h3 {
    color: white;
}
#links ul {
    list-style-type: none;    
}
#links a {
    text-decoration: none;
    color: wheat;
}

#header_icons {
    float: right;
    display: flex;
}
#icon {
    width: 10px;
    position: relative;
    text-align: center;
    color: black;
}
.icon_img {
    width: 60px;
    height: 60px;
}

#amount_of_coolcoins {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}
@media screen and (max-width: 1200px) {
    .page_content {
        width: 90%;
    }
    #logout {
        width: 100%;
        min-width: 45px;
    }
}
@media screen and (max-width: 800px) {
    header nav {
        text-align: center;
    }
    header nav ul {
        flex-direction: column;
    }
    .title_container {
        justify-content: center;
    }
    .page_content {
        justify-content: space-evenly;
    }
    #logo {
        min-width: 0;
        margin-left: -8%;
        content:url("../img/logo_small.png");        
    }
}
@media screen and (max-width: 600px) {
    #logout {
        margin-left: -150%;
    }
}