
.page_content {
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
}
.login_content {
    width: 200px;
    height: 130px;
    padding: 2%;    
    background-color: grey;
}
#logo {
    width: 100%;
    padding-top: 10%;
    margin-left: 0;
}